.pure-menu-heading {
    color: #000;
}

.center-class {
    width: 520px;
    margin: 0 auto;
    vertical-align: middle;
    display: flex;
	justify-content: center;
	align-items: center;

}

.pure-menu-horizontal {
    white-space: nowrap;
    background-color: #a1caf1;
    width: 100%;
    font-size: 1.25em;
    position: fixed;
    left: 0;
    top: 0;

}

.pure-menu-link {
    color: #000;
}

.pure-menu-heading {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding-right: 13em /* controls space btwn elements */


}

.main-block {
    padding-top: 75px;
    padding-bottom: 50px;
    margin: 0 auto;
    padding-left: 1em;
    padding-right: 1em;
    max-width: 500px;

}

.social-icons {
    width: 100%;
    margin-left: auto ;
    margin-right: auto ;
}
.social-icons ul {
    list-style-type: none; /*to remove bullets*/
    text-align: center;
    padding: 0px;
    zoom:1;
    overflow: hidden;
    
}
.social-icons li{
    padding: 2px;
    width: 32px;
    display:inline-block;
    font-size: 1.25em;
}




p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.01em;
    line-height: 150%;
}

li {
    display: table-cell;
	text-align: center;    
}

#right {
    float:right;
}


